<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <p><a href="/sign">Регистрация</a></p>
  <h1>
  Take a part in the auction 
 </h1>

<div>
  <img class="displayed" src = <%= lot %>>
  <h2>
    <%= description %>
  </h2>
</div>


<div class = "block">
  <div id="Price">
   Price:
  <span id="price"></span>
  $
</div>

<div id="Timer">
  Time left:
  <span id="time"></span>
</div>

<button 
        id="btnRaise"
        type="button" 
        class="btn btn-success">
        Raise 5$
</button>

<form class="form-inline">
  <div class="form-group">
    <label for="inputPassword6"> Your offer </label>
    <input type="number" id="inputPassword6" class="form-control" placeholder="Enter your offer">
    <small id="passwordHelpInline" class="text-muted">
       $
    </small>
  </div>
</form>

<button 
        class="btn btn-primary"
        id="btnYourRaise"
        type="submit"
        class="btn btn-primary"> 
        Raise
</button>
</div>


<script src="work.js"></script>

</body>
</html>