$sark-green: #70C1B3;
$white: #afch;


@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background: #B2DBFF;
  color: $white;
}


h1,h2{
  front-family: 'Roboto', sans-serif;
}

h1, button{
  color:#afch;
  text-align: center;
  padding: 20px;
}

h2{
  text-align: center;
}

div.block {
   display: block;
    margin-left: 30%;
    margin-right: auto;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

ul, li {
  text-align: center;
}

#Timer{
	margin: auto;
	width: 100px;
	height: 20px;
}

